:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  background: #1e5dbc;
  overflow: hidden;
}
.frame {
  position: absolute;
  width: 960px;
  height: 1024px;
  top: 0;
  left: 480px;
  font-size: 0px;
  background: #ffffff;
  overflow: hidden;
  border-radius: 40px 0 0 40px;
}
.reset-password-instructions {
  display: block;
  position: relative;
  height: 20px;
  margin: 199px 0 0 110px;
  color: #626262;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 2;
}
.flex-row-c {
  position: absolute;
  height: 1024px;
  top: 0;
  right: 0;
  left: 0;
  font-size: 0px;
  z-index: 5;
}
.reset-password-title {
  display: block;
  position: relative;
  height: 40px;
  margin: 144px 0 0 229px;
  color: #000000;
  font-family: Inter, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  white-space: nowrap;
  z-index: 1;
}
.frame-1 {
  position: absolute;
  width: 960px;
  height: 1024px;
  top: 0;
  left: 0;
  background: rgba(30, 93, 188, 0.2);
  z-index: 5;
  overflow: hidden;
}
.flex-row {
  position: relative;
  width: 671px;
  height: 39px;
  margin: 43px 0 0 209px;
  z-index: 23;
}
.nav-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 98px;
  height: 39px;
  top: 0;
  left: 0;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 19;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}
.contact {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 20;
}
.nav-pill-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 98px;
  height: 39px;
  top: 0;
  left: 146px;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 21;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}
.faq {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}
.nav-pill-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 98px;
  height: 39px;
  top: 0;
  left: 304px;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 23;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}
.services-plus {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.nav-pill-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 98px;
  height: 39px;
  top: 0;
  left: 438px;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 15;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}
.about {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.navigation-pill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 8px;
  position: absolute;
  width: 98px;
  height: 39px;
  top: 0;
  left: 573px;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
  background: #ffffff;
  border: none;
  z-index: 17;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
}
.home {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #1e1e1e;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 18;
}
.email-address {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  width: 120px;
  margin: 349px 0 0 190px;
  padding: 8px 8px 8px 8px;
  background: #d2dff2;
  z-index: 8;
}
.confirmation-title {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 16px;
  color: #626262;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.email-address-frame {
  position: relative;
  width: 581px;
  height: 76px;
  margin: -10px 0 0 172px;
  border: 1px solid #626262;
  z-index: 7;
  overflow: hidden;
  border-radius: 8px;
}
.receive-email-link {
  position: relative;
  width: 550px;
  height: 20px;
  margin: 8px 0 0 172px;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 12;
}
.text-9 {
  position: relative;
  color: #626262;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}
.text-a {
  position: relative;
  color: #1e5dbc;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}
.text-b {
  position: relative;
  color: #626262;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
}
.wrapper-3 {
  position: relative;
  width: 581px;
  height: 63px;
  margin: 80px 0 0 172px;
  z-index: 10;
}
.box-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 580px;
  height: 60px;
  top: 2px;
  nav-down:10;
  padding: 20px 20 px;
  z-index: 10;
  border-radius: 8px; 
  transition: all 0.2s ease-in-out;
}
.reset-pass {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 40px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.Button-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 581px;
  height: 62px;
  top: 1px;
  left: 0;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
  background: rgba(30, 93, 188, 0.2);
  border: none;
  z-index: 6;
  border-radius: 8px;
}
.crm-rs {
  position: absolute;
  width: 110px;
  height: 98px;
  top: 1px;
  left: 5px;
  background: url(./assets/images/49d0a19142f8f4e180831d9a34d60ccc23427556.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
}
.forgot-password {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 316px;
  height: 80px;
  top: 410px;
  left: 78px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
  z-index: 3;
}
.png-wing {
  position: absolute;
  width: 625px;
  height: 314px;
  top: 710px;
  left: 16px;
  background: url(./assets/images/4ecf8a26-8a8c-4e1e-abc7-aad5842e04f1.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.png-wing-5 {
  position: absolute;
  width: 625px;
  height: 314px;
  top: 0;
  left: 0;
  background: url(./assets/images/e798a109-9e25-446e-918c-b21567443e4d.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}
.navigation-pill:hover,
.nav-pill:hover,
.nav-pill-2:hover,
.nav-pill-3:hover,
.nav-pill-4:hover {
  background-color: #007AFF; /* Change background color */
  color: #fff; /* Change text color */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* Add box-shadow effect */
}

.box-2:hover{
  background-color: #1e5dbc; /* Change background color */
  color: #fff; /* Change text color */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2); /* Add box-shadow effect */
}